@import './Layout.scss';
@import './Fonts.scss';

.container {
    display: inherit;
    max-width: inherit;
    .ra-menu-items {
        padding-top: 180px;
        text-align: center;

        a {
            text-decoration: none;
        }

        .thumbnail {
            width: 250px;
            height: 225px;
            border-color: transparent;

            &:hover {
                border-color: $ra-border-color;
                color: $ra-current-color;
            }

            svg {
                height: 150px;
                width: 150px;
                &:hover {
                    color: $ra-current-color;
                }
            }

            .caption {
                font-family: Lato, Helvetica, Arial, sans-serif;
                font-size: 16px;
                color: $ra-current-color;
                font-weight: bold;
            }
        }
    }
}