//Mixins
@mixin font-normal($font-family) {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
}

@mixin font-bold($font-family) {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
}

@mixin font-italic($font-family) {
    font-family: $font-family;
    font-style: italic;
    font-weight: 400;
}

@mixin font-bold-italic($font-family) {
    font-family: $font-family;
    font-style: italic;
    font-weight: 700;
}
//End Mixins

//Fonts

// Lato
@font-face {
    @include font-normal('Lato');
    src: local('Lato Regular'), local('Lato-Regular'), url('../Fonts/Lato-Regular.woff2') format('woff2'), url('../Fonts/Lato-Regular.woff') format('woff');
}

@font-face {
    @include font-bold('Lato');
    src: local('Lato Bold'), local('Lato-Bold'), url('../Fonts/Lato-Bold.woff2') format('woff2'), url('../Fonts/Lato-Bold.woff') format('woff');
}

@font-face {
    @include font-italic('Lato');
    src: local('Lato Italic'), local('Lato-Italic'), url('../Fonts/Lato-Italic.woff2') format('woff2'), url('../Fonts/Lato-Italic.woff') format('woff');
}

@font-face {
    @include font-bold-italic('Lato');
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../Fonts/Lato-BoldItalic.woff2') format('woff2'), url('../Fonts/Lato-BoldItalic.woff') format('woff');
}

// Open Sans
@font-face {
    @include font-normal('Open Sans');
    src: local('Open Sans'), local('OpenSans'), url('../Fonts/OpenSans.woff2') format('woff2'), url('../Fonts/OpenSans.woff') format('woff');
}

@font-face {
    @include font-bold('Open Sans');
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../Fonts/OpenSans-Bold.woff2') format('woff2'), url('../Fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
    @include font-italic('Open Sans');
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../Fonts/OpenSans-Italic.woff2') format('woff2'), url('../Fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
    @include font-bold-italic('Open Sans');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../Fonts/OpenSans-BoldItalic.woff2') format('woff'), url('../Fonts/OpenSans-BoldItalic.woff') format('woff2');
}

// Titillium Web
@font-face {
    @include font-normal('Titillium Web');
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url('../Fonts/TitilliumWeb-Regular.woff2') format('woff2'), url('../Fonts/TitilliumWeb-Regular.woff') format('woff');
}

@font-face {
    @include font-bold('Titillium Web');
    src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url('../Fonts/TitilliumWeb-Bold.woff2') format('woff2'), url('../Fonts/TitilliumWeb-Bold.woff') format('woff');
}

@font-face {
    @include font-italic('Titillium Web');
    src: local('Titillium WebItalic'), local('TitilliumWeb-Italic'), url('../Fonts/TitilliumWeb-Italic.woff2') format('woff2'), url('../Fonts/TitilliumWeb-Italic.woff') format('woff');
}

@font-face {
    @include font-bold-italic('Titillium Web');
    src: local('Titillium WebBold Italic'), local('TitilliumWeb-BoldItalic'), url('../Fonts/TitilliumWeb-BoldItalic.woff2') format('woff2'), url('../Fonts/TitilliumWeb-BoldItalic.woff') format('woff');
}

// Roboto
@font-face {
    @include font-normal('Roboto');
    src: local('Roboto'), local('Roboto-Regular'), url('../Fonts/Roboto-Regular.woff2') format('woff2'), url('../Fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    @include font-bold('Roboto');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../Fonts/Roboto-Bold.woff2') format('woff2'), url('../Fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
    @include font-italic('Roboto');
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../Fonts/Roboto-Italic.woff2') format('woff2'), url('../Fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
    @include font-bold-italic('Roboto');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../Fonts/Roboto-BoldItalic.woff2') format('woff2'), url('../Fonts/Roboto-BoldItalic.woff') format('woff');
}

@font-face {
    @include font-normal('Roboto-Light');
    src: local('Roboto Light'), local('Roboto-Light'), url('../Fonts/Roboto-Light.woff2') format('woff2'), url('../Fonts/Roboto-Light.woff') format('woff');
}

@font-face {
    @include font-normal('Roboto-Medium');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../Fonts/Roboto-Medium.woff2') format('woff2'), url('../Fonts/Roboto-Medium.woff') format('woff');
}

// FontAwesome
@font-face {
    @include font-normal('FontAwesome');
    src: local('FontAwesome'), local('FontAwesome-webfont'), url('../Fonts/fontawesome-webfont.woff2') format('woff2'), url('../Fonts/fontawesome-webfont.woff') format('woff');
}

// Segment7
@font-face {
    @include font-normal('Segment7');
    src: local('Segment7'), local('Segment7-Standard'), url('../Fonts/Segment7-Standard.woff2') format('woff2'), url('../Fonts/Segment7-Standard.woff') format('woff');
}