@import "./Main/custom.scss";
@import "./Variables.scss";

.App {
  width: 100%;
  height: 100%;
}

.profile-picture {
  border: 1px solid $ma-hp-font-color;
  border-radius: 50%;
  color: $ma-hp-font-color;
  margin-top: 5px;
  font-size: 40px;
}

.navbar-brand {
  font-size: 26px;
}

.dropdown-toggle::after {
  position: absolute;
  top: 30px;
  left: 225px;
  font-size: 35px;
  color: $ma-hp-font-color;
}

.home-icon, .home-fa-icon {
  font-size: 36px;
  color: $ma-hp-theme-color;
}

.breadcrumb {
  background-color: transparent;
  padding-top: 0;
}

.board-item-icons {
  font-size: 150px;
}

.media-icon {
  border: 20px solid $ma-hp-theme-color;
  border-radius: 50%;
}