@import '../../Variables.scss';

.side-bar {
    padding-top: 10px;
    width: 300px;
    background: $ma-sp-sidebar-bg-color;
    font-size: 14px;
    min-width: 300px;
    .accordion {
        .btn-link {
            margin-left: 12%;
            font-size: inherit;
        }
        .accordin-list {
            margin-left: 28%;
        }
        .btn:focus {
            outline: none !important;
        }
    }
}

.clients-main-content {
    font-size: 14px;
    .spinner-custom {
        margin-left: 45%;
        margin-top: 16%;
    }
    .ascending svg {
        transform: rotate(180deg);
    }
    .input-group-text, .btn, .form-control {
        font-size: 14px;
    }
}

.hideDeleteLabel {
    display: none;
}
.add-ward-main {
    font-size: 14px;
    .form-control {
        font-size: 14px;;
    }
    
    .add-ward-btn {
        font-size: 14px;
        padding: 6px 20px;
    }
}
